body
{
	margin: 0;
	padding: 0;
	background:#0e1f3e;
}

.diamond-grid
{
	width: 70%;
	margin: 100px auto 0;
	opacity: 0.5;
	transition: 0.5s;
}

.item
{
	width: 220px;
	height: 220px;
	background:#fff;
	opacity: 0.5;
	transition: 0.5s;
}

.item:hover
{
	opacity: 1;
}

.item img
{
	
	position: absolute;
	top:50%;
	left: 0;
	transform: translateY(-50%) scale(1.8);
	width: 100%;
}

@media(max-width: 767px)
{
	.diamond-grid
	{
	width: 100%;
	margin: 0 auto;
	}
}
